DATABASE = ""
JWT_SECRET=""
JWT_REFRESH_SECRET=""
NODE_ENV=""
CLOUDINARY_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
GMAIL_USER=""
GMAIL_PASS=""
DELETE_CODE=""
GEMINI_API_KEY=""
AI_CHATBOT_TIMEOUT_MS="15000"
AI_CHATBOT_RETRY_COUNT="1"