mixin options(list, level = 0)
  - const prefix = Array(level).fill("--").join("");
  each item in list
    option(value=item.id) #{prefix} #{item.name}
    if (item.children && item.children.length > 0)
      +options(item.children, level+1)
