header.header
	a(href=`/${pathAdmin}/dashboard` class="inner-left") Admin 
	.inner-right
		button.inner-button
			.inner-icon 
			.inner-number 6
			.inner-tick
		.inner-profile 
			.inner-logo
				img(src=account.avatar, alt="")
			.inner-inf
				.inner-name #{account.fullName} 
				.inner-role #{account.roleName}
		.inner-menu 
			<i class="fa-solid fa-bars"></i>